# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\clion\algoritmos 2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
